body {
  color: #000000;
  background-color: #ffffff;
  font-family: "Noto Sans JP", sans-serif;
}

h1 {
  border: solid 2px #000000;
  font-size: 34px;
}

h2 {
  font-size: 34px;
  text-align: center;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 767px;
  margin: 0 auto;
}

.link  {
  text-decoration: none;
  color: #000000;
  font-size: 34px;
  font-weight: bold;
  width: 50%;
  padding: 10px;
}

#main-visual {
  padding: 10px;
}

/* メイン画像 */
#main-phot {
 width: 100%;
 margin: 0 auto;
}

#about-phot {
  border-radius: 50%;
  width: 280px;
  height: 280px;
}

.about-inner {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 10px 10px; 
}

.about {
  margin: 0 auto;
  padding: 20px;
}

#about-phot {
  margin: 0 auto;
}

.works-inner {
  display: flex;
  justify-content: center;
  max-width: 960px;
  margin:  0 auto;
}

.item {
  margin: 0 10px;
  padding-bottom: 60px;
  width: 25%;
}

footer {
  text-align: center;
}
